
 #para{
     text-align: center;
 }
 
 tbody{
    overflow: scroll;
    height: 300px;
}
td, th{
    width: 1500px;
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}
table{
    width: 1500px !important;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}
td{
    text-align: center;
}
#customerSortBtnSection{
    justify-content: center;
}
